<div id="support-section" class="container mt-8 mb-6 pb-8 text-start">
    <h2 class="mb-6"><%= t("about.title") %></h2>
    <h3 class="mb-6"><%= t("about.core") %></h3>
    <h4 class="mb-6  font-weight-bold"><%= t("about.mission") %></h4>
    <h4 class="mb-6  font-weight-normal"><%= t("about.mission_statement") %></h4>
    <h4 class="mb-6  font-weight-bold"><%= t("about.vision") %></h4>
    <h4 class="mb-6  font-weight-normal"><%= t("about.vision_statement") %></h4>
    
    <div class="row mt-8 mb-6">
        <div class="col-sm-12 col-md-12"><h3 class="mb-6"><%= t("about.history") %></h3></div>
        <div class="col-sm-12 col-md-12"><h4 class="mb-6 font-weight-normal"><%= t("about.brief_history") %></h4></div>
    </div>
    
    <h3 class="mb-6"><%= t("about.team") %></h3>
    
    <div class="row"> 
        <!-- Teams  -->
        <div class="col-12">
            <div class="col-12" style="width:15rem; height: 15rem;">
                <!-- TODO: Find a better way to display images  -->
                <img src="https://user-images.githubusercontent.com/45931201/91093088-9c7ee700-e661-11ea-980e-3f8d1a9cdf4e.jpg" alt="Brook Tarekegn" style="width:15rem; height: 15rem; aspect-ratio: 1;"></img>
                <h4 class="font-weight-bold"> <%= t("about.name", name: 'Brook Tarekegn')  %> </h4>
                <h5 class="font-weight-bold"> <%= t("about.position", position: 'CEO and Founder of Selamta Chat')  %> </h5>
            </div>
        </div> 

    </div>

</div>