<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

    <h2 class="mb-6"><%= t("Selamta Chat") %> <%= t("features.title") %></h2>

    <div class="row feature-stamp">
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-video fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.video") %></h4>
                <p class="card-text"><%= t("features.video_explained") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-users fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.room") %></h4>
                <p class="card-text"><%= t("features.room_explained") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-film fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.recording") %></h4>
                <p class="card-text"><%= t("features.recording_explained") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-upload fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.cloud") %></h4>
                <p class="card-text"><%= t("features.cloud_explained") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-lock fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.security") %></h4>
                <p class="card-text"><%= t("features.security_explained") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.webinar") %></h4>
                <p class="card-text"><%= t("features.webinar_explained") %></p>
            </div>
        </div>
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-comment-dots fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.chat") %></h4>
                <p class="card-text"><%= t("features.chat_explained") %></p>
            </div>
        </div>
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-sticky-note fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("features.note") %></h4>
                <p class="card-text"><%= t("features.note_explained") %></p>
            </div>
        </div>

    </div>
</div>