<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

    <h2 class="mb-6"><%= t("pricing.title") %></h2>

    <div class="row feature-stamp">

        <!-- Enterprise Package -->
        <div class="card mr-3" style="width: 18rem; height: 60rem;">
            <span class="stamp bg-yellow"><i class="fas fa-building fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title"><b><%= t("pricing.enterprise") %></b></h4>
                <p class="card-text"><%= t("pricing.diamond_explained") %></p>
                <p class="h1"><%= t("pricing.ent_amount") %></p>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.number_participants", number: 200)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.unlimited_hours")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.cloud_storage", number: 20)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.meeting_rooms", number: 20)  %></p>
                </div>


                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webinar", number: 200)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webcast")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.voip", number: 100)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.logo") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.background") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.recording") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.admin") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.chat") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.electronic") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.notes") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.support") %></p>
                </div>
              
               <%= link_to t("Buy"), signin_path, :class => "btn btn-outline-primary btn-lg btn-block mx-2 buy-button" %>

            </div>
        </div>

        <!-- Business Package -->
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-gray"><i class="fas fa-home fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title"><b><%= t("pricing.business") %></b></h4>
                <p class="card-text"><%= t("pricing.gold_explained") %></p>
                <p class="h1"><%= t("pricing.bus_amount") %></p>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.number_participants", number: 40)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.unlimited_hours")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.cloud_storage", number: 15)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.meeting_rooms", number: 10)  %></p>
                </div>


                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webinar", number: 100)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webcast")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.voip", number: 40)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.logo") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.background") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.recording") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.admin") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.chat") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.electronic") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.notes") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.support") %></p>
                </div>
 
             <%= link_to t("Buy"), signin_path, :class => "btn btn-outline-primary btn-lg btn-block mx-2 buy-button" %>

            </div>
        </div>

        <!-- Professional Package -->
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-red"><i class="fas fa-user-friends fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title"><b><%= t("pricing.pro") %></b></h4>
                <p class="card-text"><%= t("pricing.silver_explained") %></p>
                <p class="h1"><%= t("pricing.pro_amount") %></p>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.number_participants", number: 10)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.unlimited_hours")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.cloud_storage", number: 10)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.meeting_rooms", number: 5)  %></p>
                </div>


                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webinar", number: 50)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webcast")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.voip", number: 10)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.logo") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.background") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.recording") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.admin") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.chat") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.electronic") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.notes") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.support") %></p>
                </div>
             <%= link_to t("Buy"), signin_path, :class => "btn btn-outline-primary btn-lg btn-block mx-2 buy-button" %>

            </div>
        </div>

        <!-- Free Package -->
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-gift fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title"><b><%= t("pricing.basic") %></b></h4>
                <p class="card-text"><%= t("pricing.bronze_explained") %></p>
                <p class="h1"><%= t("pricing.free") %></p>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.free_participants", number: 2)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.free_hours", minutes: 45)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.free_cloud")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.free_rooms")  %></p>
                </div>


                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webinar", number: 2)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.webcast")  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-check"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.voip", number: 1)  %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.logo") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.background") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.recording") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.admin") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.chat") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.electronic") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.notes") %></p>
                </div>

                <div class="row">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                    <p class="ml-2">
                        <%= t("pricing.support") %></p>
                </div>

             <%= link_to t("Try for Free"), signin_path, :class => "btn btn-outline-primary btn-lg btn-block mx-2 buy-button" %>

            </div>
        </div>


    </div>
</div>