<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

    <h2 class="mb-6"><%= t("pricing.title") %></h2>

    <div class="row feature-stamp">
        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-building fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("pricing.enterprise") %></h4>
                <p class="card-text"><%= t("pricing.diamond_explained") %></p>
                <p class="h1"><%= t("pricing.ent_amount") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-home fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("pricing.business") %></h4>
                <p class="card-text"><%= t("pricing.gold_explained") %></p>
                <p class="h1"><%= t("pricing.bus_amount") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-user-friends fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("pricing.pro") %></h4>
                <p class="card-text"><%= t("pricing.silver_explained") %></p>
                <p class="h1"><%= t("pricing.pro_amount") %></p>
            </div>
        </div>

        <div class="card mr-3" style="width: 18rem;">
            <span class="stamp bg-primary"><i class="fas fa-gift fa-8x"></i></span>
            <div class="card-body">
                <h4 class="card-title display-1"><%= t("pricing.basic") %></h4>
                <p class="card-text"><%= t("pricing.bronze_explained") %></p>
                <p class="h1"><%= t("pricing.free") %></p>
            </div>
        </div>


    </div>
</div>