<div id="support-section" class="container mt-8 mb-6 text-start">
    <h2 class="mb-6"><%= t("support.title") %></h2>


    <div class=row>

        <div class="col-sm">
            <h3 class="mb-6"><%= t("support.term") %></h3>
            <h4 class="mb-6  font-weight-normal"><%= t("support.service") %></h4>
            <h4 class="mb-6  font-weight-normal"><%= t("support.cookies") %></h4>
            <h4 class="mb-6  font-weight-normal"><%= t("support.privacy") %></h4>
        </div>
        <div class="col-sm">
            <h3 class="mb-6"><%= t("support.social") %></h3>
            <h4 class="mb-6  font-weight-normal"><%= t("support.twitter") %></h4>
            <h4 class="mb-6  font-weight-normal"><%= t("support.instagram") %></h4>
            <h4 class="mb-6  font-weight-normal"><%= t("support.facebook") %></h4>
        </div>
        <div class="col-sm">
            <h3 class="mb-6"><%= t("support.support") %></h3>
            <h4 class="mb-6  font-weight-normal"><%= t("support.sales") %></h4>
            <h4 class="mb-6  font-weight-normal"><%= t("support.support_center") %></h4>
        </div>

    </div>


</div>